<svelte:head>
    <title>ETHoot!</title>
    <script>
        MathJax = {
            startup: {
                typeset: false
            }
        };
    </script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</svelte:head>

<script>
    import { navigating } from "$app/stores";

    $: loadingBlockerClass = $navigating ? "loading" : "";

    $: if ($navigating) {
        console.log("nav");
    }
</script>

<div class="top">
    <div class="floating-header">
        <h1><a href="/">ETHoot!</a></h1>
    </div>
    <div class="content">
        <slot />
    </div>
</div>
<div class="loading-blocker {loadingBlockerClass}"></div>

<style>
    :global(*) {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, sans-serif;
    }

    :global(html, body) {
        background-color: #fff;
        height: 100%;
        width: 100%;
    }

    .top {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: auto; 
        grid-template-rows: auto 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
        "header"
        "content";
    }

    .floating-header {
        width: 100%;
        text-align: center;
        padding: 10px;
        background-color: #215CAF;
        color: white;
    }

    .content {
        overflow: scroll;
    }

    .loading-blocker {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
    }

    .loading {
        display: block;
        background-color: #0002;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    a:visited {
        color: inherit;
    }
</style>
