<script>
    import QuizList from "$components/QuizList.svelte";
    import Button from "$components/Button.svelte"

    export let data;
    //const quizList = data.data.quizzesList;
    const quizList = data.data;

    function newQuiz() {
        window.location.href = "/quiz/new";
    }
</script>

<div id="app">
    <div class="content">
        <h1 style="grid-area: title">Quizzes</h1>
        <div style="grid-area: new; text-align: right; align-self: end">
            <Button on:click={newQuiz}>NEW</Button>
        </div>
        <div style="grid-area: quizzes">
            <QuizList quizMeta={quizList} />
        </div>
    </div>
</div>

<style>
    #app {
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    .content {
        width: 100%;
        max-width: 700px;
        display: grid;
        grid-template-columns: auto 1fr; 
        grid-template-rows: 1fr 100px; 
        gap: 0px 0px; 
        grid-template-areas: 
        "title new"
        "quizzes quizzes";
    }
</style>
