<div class="component">
    <form action="?/login" method="post">
        <h1>Login</h1>
        <input name="username" type="text" placeholder="Username" />
        <input name="password" type="password" placeholder="Password" />
        <input type="submit" value="Login">
        <a href="/register">Register</a>
    </form>
</div>

<style>
    .component {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    form {
        width: 300px;
    }

    form * {
        margin: 10px 0;
    }

    input {
        padding: 10px;
        border: 1px solid #eee;
        border-radius: 5px;
        width: 100%;
    }

    a {
        text-align: right;
        text-decoration: none;
        color: #1B4889;
    }
</style>
