<script>
    import { createEventDispatcher } from "svelte";

    const dispatch = createEventDispatcher();

    function buttonClick() {
        dispatch("click");
    }
</script>

<button on:click={buttonClick}><slot /></button>

<style>
    button {
        border: 1px solid #eee;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
    }
</style>
