<script>
    import { Marked } from "marked";
    import { markedHighlight } from "marked-highlight";
    import hljs from "highlight.js";
    import { onMount } from "svelte";
    import "highlight.js/styles/atom-one-dark.min.css";

    export let text;

    const marked = new Marked(
        markedHighlight({
            langPrefix: "hljs language-",
            highlight(code, lang) {
                const language = hljs.getLanguage(lang) ? lang : "plaintext";
                return hljs.highlight(code, { language }).value;
            },
        })
    );

    let hasMJ = false;

    function markdownHTML(text, hasMJ) {
        const mdHTML = marked.parse(text);
        return mdHTML
            .replace(/(\$\$(?:.*?)\$\$)/, `<span class="math-hidden">$1</span>`)
            .replace(/(\\\((?:.*?)\\\))/, `<span class="math-hidden">$1</span>`)
    }

    let mdHTML;
    $: {
        mdHTML = markdownHTML(text, hasMJ);
        if (hasMJ) {
            console.log("MJ", MathJax);
            setTimeout(() => MathJax.typesetPromise(), 10);
        }
    }

    onMount(() => {
        if (MathJax != undefined) {
            console.log("MathJax loaded");
            hasMJ = true;
            setTimeout(() => MathJax.typesetPromise(), 10);
        }
    });
</script>

<div class="component tex2jax_process {hasMJ ? "" : "hide-mj"}">
    {@html mdHTML}
</div>

<style>
    :global(.component code) {
        background-color: #333;
        padding: 2px;
        border-radius: 5px;
    }
    
    :global(.component code, .component code *) {
        font-family: 'Courier New', Courier, monospace !important;
    }

    :global(.hide-mj .math-hidden) {
        display: none;
    }
</style>
