<script>
    export let questionData;
    export let userAnswer = [];
    export let isSingleChoice;
    export let edit;

    let mcUserChoices = questionData.choices.map(() => false);
    $: mcUserChoices.filter(Boolean).map((_, i) => i);
    if (userAnswer != null) {
        mcUserChoices = questionData.choices.map((_, i) => userAnswer.includes(i));
    }

    function updateUserSelectSC(i) {
        userAnswer = [i];
    }

    function updateUserSelectMC() {
        console.log("update", mcUserChoices);
        userAnswer = mcUserChoices.map((v, i) => v ? i : -1).filter(v => v != -1);
    }
    $: console.log("user answer changed to", userAnswer);

    let scSelected = "ans-" + questionData.correct[0];
    function updateCorrectSC(event) {
        questionData.correct = [scSelected.substring(4)];
    }

    let mcChecked = questionData.choices.map((_, i) => questionData.correct.includes(i));
    function updateCorrectMC() {
        questionData.correct = mcChecked.map((v, i) => v ? i : -1).filter(v => v != -1);
    }

    function addAnswer() {
        questionData.choices = [...questionData.choices, ""];
    }

    function removeAnswer(i) {
        questionData.choices = questionData.choices.filter((_, j) => i !== j);
    }
</script>

<div class="component">
    {#if edit}
        {#each questionData.choices as choice, i}
            <div class="choices-input">
                <input type="text" id="{choice}" name="{choice}" bind:value={questionData.choices[i]}>
                <button on:click={() => removeAnswer(i)}>Remove Answer</button>
                {#if isSingleChoice}
                    <input id="corr-{questionData.question_id}.{i}" type="radio" name="sc-group-{questionData.question_id}" value="ans-{i}" bind:group={scSelected} on:change={updateCorrectSC}>
                {:else}
                    <input id="corr-{questionData.question_id}.{i}" type="checkbox" bind:checked={mcChecked[i]} on:change={updateCorrectMC}>
                {/if}
                <label for="corr-{questionData.question_id}.{i}">Correct?</label>
            </div>
        {/each}
        <button on:click={addAnswer}>Add Answer</button>
            
    {:else}
        {#each questionData.choices as choice, i}
        <div class="choice">
            {#if isSingleChoice}
                <input type="radio" name="sc-group-{questionData.question_id}" value="ans-{i}" bind:group={userAnswer[0]} on:change={() => updateUserSelectSC(i)}>
            {:else}
                <input type="checkbox" value="{choice}" bind:checked={mcUserChoices[i]} on:change={updateUserSelectMC}>
            {/if}
            <label for="{choice}">{choice}</label>
        </div>
        {/each}
    {/if}
</div>

<style>
    .component {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    button {
        padding: 10px;
        margin: 5px;
    }

    .choice {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }

    .choice input {
        margin-right: 10px;
    }

    .choice input {
        width: 20px;
        height: 20px;
    }

    .choices-input {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }
</style>
