<script>
    export let quizMeta;

    console.log(quizMeta);
</script>

<div class="filter-cont">
    <!-- <div class="filter-elem">CS</div>
    <div class="filter-elem">BSc</div> -->
</div>
<div class="quiz-list">
    {#each quizMeta as quiz}
        <a href="/quiz/{quiz.id}" class="quiz-list-item">
            <h3>{quiz.title}</h3>
            <p style="align-self: end;">Author: {quiz.authorName}</p>
            <p>{quiz.count} questions</p>
        </a>
    {/each}    
</div>

<style>
    .quiz-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
    .quiz-list-item {
        border: 1px solid #eee;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px; 
        grid-template-areas: 
        "title author"
        "description description";
    }

    .quiz-list a {
        text-decoration: none;
        color: #000;
    }

    .quiz-list a:hover {
        background-color: #ddd;
    }

    .filter-cont {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .filter-elem {
        display: inline-block;
        padding: 5px;
        background-color: #08407E;
        color: white;
        border-radius: 5px;
    }

    .filter-elem::after {
        cursor: pointer;
        content: '✕';
        margin-left: 10px;
    }
</style>
