<script>
    import MarkdownText from "./MarkdownText.svelte";
    import QuizQuestionMc from "./QuizQuestionMC.svelte";

    export let questionData;
    export let userAnswer = [];

    $: console.log(userAnswer);

    export let edit = false;
</script>

<div class="component">
    {#if edit}
        <input type="text" id="{questionData.id}" name="{questionData.id}" bind:value="{questionData.title}">
        <textarea id="{questionData.id}" name="{questionData.id}" bind:value={questionData.text}></textarea>
        <select id="{questionData.id}" name="{questionData.id}" bind:value={questionData.type}>
            <option value="MC">Multiple Choice</option>
            <option value="SC">Single Choice</option>
            <option value="INPUT">Text Field</option>
        </select>
    {:else}
        <span class="question-title">{questionData.title}</span>
        <span class="question-desc"><MarkdownText text={questionData.text}></MarkdownText></span>
    {/if}
    {#if questionData.type == "MC" || questionData.type == "SC"}
        <QuizQuestionMc
            bind:questionData
            isSingleChoice={questionData.type == "SC"}
            bind:userAnswer={userAnswer}
            {edit} />
    {:else if questionData.type == "INPUT"}
        {#if edit}
        <input type="text" id="{questionData.id}" name="{questionData.id}" bind:value={questionData.answer}>
        {:else}
        <input type="text" id="{questionData.id}" name="{questionData.id}" bind:value={userAnswer}>
        {/if}
    {/if}
</div>

<style>
    .component {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    .question-title {
        font-weight: bold;
        margin-bottom: 10px;
    }
</style>
