<script>
    import { browser } from "$app/environment";

    let result;

    export let data;

    if (browser) {
        result = JSON.parse(sessionStorage.getItem(`quiz-result-${data.quizData.id}`));
        console.log(result);
    }
</script>

<div id="app">
    <h1>Quiz Result</h1>

    {#if result != null}
        <div class="result">
            <div class="result-content">
                <h2>Score: {result.correct}/{result.total}</h2>
            </div>
        </div>
    {/if}
</div>

<style>
    #app {
        width: 100%;
        height: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    .result {
        width: 100%;
        max-width: 700px;
        height: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto 1fr auto; 
        gap: 10px 0;
    }

    .result-content {
        background-color: #ddd;
        padding: 10px;
    }
</style>
