<script>
    export let data;
    $: quizData = data.data;
    $: console.log(quizData);

    let showQr = false;

    function startQuiz() {
        sessionStorage.setItem(`quiz-answers-${quizData.id}`, JSON.stringify({}));
        sessionStorage.removeItem(`quiz-result-${quizData.id}`);
    }
</script>

<div id="app">
    <div class="content">
        <h1>{quizData.title}</h1>
        <div class="description">
            <span>{quizData.description}</span>
        </div>
        <div class="start-quiz-navigation">
            <button class="share-btn" on:click={() => showQr = true}>Share</button>
            <a on:click={startQuiz} href="/quiz/{quizData.id}/question/1">Start quiz</a>
        </div>
    </div>
    <div class="qr-code-overlay {showQr ? "shown" : ""}"
        on:click={() => showQr = false}
        on:keydown={e => e.key == "Escape" && (showQr = false)}
        role="button"
        tabindex="0"
    >
        <img src="https://chart.apis.google.com/chart?cht=qr&chs=400x400&chl=http://team-11.viscon-hackathon.ch/quiz/{quizData.id}" alt="W3Schools.com"> 
    </div>
</div>

<style>
    #app {
        width: 100%;
        height: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    .content {
        width: 100%;
        max-width: 700px;
        height: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto 1fr auto; 
        gap: 10px 0;
    }

    .description {
        background-color: #ddd;
        padding: 10px;
    }

    .start-quiz-navigation {
        display: flex;
        justify-content: space-between;
    }

    .start-quiz-navigation a {
        display: block;
        background-color: #7A9DCF;
        color: white;
        padding: 5px;
        text-decoration: none;
    }

    .share-btn {
        cursor: pointer;
        background-color: #ccc;
        padding: 5px;
        border: none;
    }

    .qr-code-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .qr-code-overlay.shown {
        display: flex;
    }
</style>
