<script>
    import QuizQuestion from "$components/QuizQuestion.svelte";
    import Button from "$components/Button.svelte";
    import { goto } from "$app/navigation";
    import { browser } from "$app/environment";

    export let data;
    $: quizData = data.quizData;
    $: questionData = data.questionData;

    $: console.log(data.questionNumber);

    let userAnswer;

    $: saveLocalAnswers(userAnswer);

    let loadedLocally = false;

    function saveLocalAnswers(answers) {
        if (!browser || !loadedLocally) return;
        console.log("sav", answers);
        let currentAnswers = JSON.parse(sessionStorage.getItem(`quiz-answers-${quizData.id}`));
        currentAnswers[data.questionNumber] = answers;
        sessionStorage.setItem(`quiz-answers-${quizData.id}`, JSON.stringify(currentAnswers));            
    }

    function submitClicked() {
        if (data.questionNumber == quizData.questions.length) {
            const userAnswers = JSON.parse(sessionStorage.getItem(`quiz-answers-${quizData.id}`));
            fetch(`/api/submit-quiz/${quizData.id}`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(userAnswers)
            }).then(res => res.json()).then(res => {
                sessionStorage.setItem(`quiz-result-${quizData.id}`, JSON.stringify(res));
                goto(`/quiz/${quizData.id}/result`);
            });
        } else {
            goto(`/quiz/${quizData.id}/question/${parseInt(data.questionNumber) + 1}`);
        }
    }

    $: if (browser && !loadedLocally) {
        console.log("asdlji");
        try {
            const localQuiz = JSON.parse(sessionStorage.getItem(`quiz-answers-${quizData.id}`));
            if (localQuiz[data.questionNumber] != null) {
                userAnswer = localQuiz[data.questionNumber];
            }
        } catch (e) {
            console.log(e);
        }
        loadedLocally = true;
    }
</script>

<svelte:head>
    <title>ETHoot!</title>
</svelte:head>
<div id="app">
    <div class="question-navigation">
        {#each quizData.questions as _, i}
            <a
                class="question-link {(i + 1) == data.questionNumber ? "current-question" : ""}"
                href="/quiz/{quizData.id}/question/{i + 1}">{i + 1}</a>
        {/each}
    </div>
    <QuizQuestion {questionData} bind:userAnswer={userAnswer} />

    <Button on:click={submitClicked}>
        {#if data.questionNumber == quizData.questions.length}
            Finish
        {:else}
            Next
        {/if}
    </Button>
</div>

<style>
    #app {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    .question-navigation {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    .question-link {
        border: 1px solid black;
        padding: 5px;
        margin: 5px;
    }

    .current-question {
        border: 2px solid black;
        background-color: #333;
        color: white;
    }

    a {
        text-decoration: none;
        color: black;
    }
</style>
