<script>

</script>

<div class="component">
    <form action="?/register" method="post">
        <h1>Register</h1>
        <input name="username" type="text" placeholder="Username" />
        <input name="password" type="password" placeholder="Password" />
        <input type="submit" value="Register">
    </form>
</div>

<style>
    .component {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    form {
        width: 300px;
    }

    form * {
        margin: 10px 0;
    }

    input {
        padding: 10px;
        border: 1px solid #eee;
        border-radius: 5px;
        width: 100%;
    }

    button {
        padding: 10px;
        border: 1px solid #eee;
        border-radius: 5px;
        width: 300px;
        cursor: pointer;
    }
</style>
