<script>
    import QuizQuestion from "$components/QuizQuestion.svelte";

    export let data;

    let questionsData = data.questionsData;

    function addQuestion() {
        questionsData.questions = [...questionsData.questions, {
            "type": "MC",
            "title": "Title",
            "text": "Text",
            "choices": ["A", "B", "C"],
            "correct": [0],
            "answer": ""
        }];
    }

    $: console.log(questionsData);

    function removeQuestion(i) {
        questionsData.questions = questionsData.questions.filter((_, j) => i !== j);
    }

    async function saveQuiz() {
        const f = await fetch(`/api/save-quiz/${data.quizData.id}`, {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(questionsData)
        });
        const res = await f.json();
        window.location.href = `/quiz/${data.quizData.id}`;
    }
</script>

<div id="app">
    <input type="text" id="title" name="title" bind:value={questionsData.title} />
    <input type="text" id="description" name="description" bind:value={questionsData.description} />
    {#each questionsData.questions as question, i}
        <h2 style="margin-top: 10px;">Question {i + 1}</h2>
        <QuizQuestion bind:questionData={question} edit={true} />
        <button on:click={() => removeQuestion(i)}>Remove Question</button>
    {/each}

    <button on:click={addQuestion}>Add Question</button>

    <button on:click={saveQuiz}>Save</button>
</div>

<style>
    #app {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    :global(input, button, select) {
        padding: 10px;
        margin: 5px;
        border-radius: 5px;
    }
</style>
